.spot_area {
  @apply grid grid-rows-6 col-span-5;
}
.vehicle_select {
  @apply row-span-2;
}
.spot_select {
  @apply row-span-4 grid grid-cols-6 gap-4;
}
.vehicle_wrap {
  @apply grid grid-cols-3 py-5;
}
.vehicle {
  @apply w-20 rounded-xl shadow-lg overflow-hidden;
}
.vehicle label {
  @apply cursor-pointer h-full block;
}
.heading_font {
  @apply font-bold text-pretty text-xl;
}
.prk_space {
  border-radius: 20px;
  background: #e7f0e4;
  box-shadow: 7px 7px 14px #c4ccc2, -7px -7px 14px #ffffff;
  @apply font-semibold text-pretty text-lg text-slate-800
  text-center content-center duration-100 cursor-pointer;
}
.prk_space:hover,
.prk_space_select {
  box-shadow: inset 6px 6px 10px #d0d8cd, inset -6px -6px 10px #fefffb;
}
/* rounded-xl  bg-gray-100 shadow-sm hover:bg-gray-400 hover:text-white*/
