.spot_area {
  @apply grid grid-rows-6 lg:col-span-4 md:col-span-10 col-span-10;
}
.vehicle_select {
  @apply row-span-2;
}
.spot_select {
  @apply row-span-4 grid grid-cols-6 lg:gap-4 md:gap-2 gap-1;
}
.vehicle_wrap {
  @apply grid grid-cols-3 py-5;
}
.vehicle {
  @apply w-20 rounded-xl shadow-lg overflow-hidden;
}
.vehicle label {
  @apply cursor-pointer h-full block;
}
.heading_font {
  @apply font-bold text-xl text-prk-text-clr;
}
.prk_space {
  border-radius: 20px;
  box-shadow: 3px 4px 5px #ffea9e, 1px 2px 5px #ffc700;
  @apply bg-prk-btn-clr font-semibold md:text-lg text-sm text-prk-text-clr
  text-center content-center duration-100 cursor-pointer;
}
.prk_space:hover,
.prk_space_select {
  box-shadow: 7px 7px 14px #c4ccc2, -7px -7px 14px #ffffff;
  @apply bg-prk-text-clr text-prk-fg;
}
/* rounded-xl  bg-gray-100 shadow-sm hover:bg-gray-400 hover:text-white*/
